# 1. PV Power_profiling

## 임포트 하기

In [1]:
import pandas as pd

In [2]:
pd.read_csv('./datasets/한국남부발전(주)_신인천소내 태양광발전실적_20220630.csv',encoding='cp949')

,년월일,호기,총량(kw),평균(kw),최대(kw),최소(kw),최대(시간별 kw),최소(시간별 kw),1,2,...,15,16,17,18,19,20,21,22,23,24
0,2013-01-01,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
1,2013-01-02,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
2,2013-01-03,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
3,2013-01-04,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
4,2013-01-05,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3461,2022-06-26,1,270.752,11.281,60.215,0,60.215,0.482,0,0,...,34.712,39.292,15.644,6.581,0.482,0.0,0,0,0,0
3462,2022-06-27,1,234.593,9.775,40.256,0,40.256,1.085,0,0,...,14.487,3.809,5.978,6.267,1.085,0.0,0,0,0,0
3463,2022-06-28,1,150.996,6.292,19.815,0,19.815,0.892,0,0,...,12.125,10.992,10.727,7.376,0.892,0.0,0,0,0,0
3464,2022-06-29,1,164.928,6.872,63.276,0,63.276,1.253,0,0,...,63.276,12.848,1.543,3.278,1.253,0.0,0,0,0,0
3465,2022-06-30,1,110.355,4.598,31.964,0,31.964,0.024,0,0,...,9.811,7.714,6.991,0.940,0.024,0.0,0,0,0,0

In [3]:
#안코딩 확인하기
import sys
sys.stdin.encoding

'cp949'

2) 데이터 출력하기

In [4]:
df = pd.read_csv('./datasets/한국남부발전(주)_신인천소내 태양광발전실적_20220630.csv',encoding='cp949')

In [5]:
df

,년월일,호기,총량(kw),평균(kw),최대(kw),최소(kw),최대(시간별 kw),최소(시간별 kw),1,2,...,15,16,17,18,19,20,21,22,23,24
0,2013-01-01,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
1,2013-01-02,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
2,2013-01-03,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
3,2013-01-04,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
4,2013-01-05,1,0.000,0.000,0.000,0,0.000,0.000,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3461,2022-06-26,1,270.752,11.281,60.215,0,60.215,0.482,0,0,...,34.712,39.292,15.644,6.581,0.482,0.0,0,0,0,0
3462,2022-06-27,1,234.593,9.775,40.256,0,40.256,1.085,0,0,...,14.487,3.809,5.978,6.267,1.085,0.0,0,0,0,0
3463,2022-06-28,1,150.996,6.292,19.815,0,19.815,0.892,0,0,...,12.125,10.992,10.727,7.376,0.892,0.0,0,0,0,0
3464,2022-06-29,1,164.928,6.872,63.276,0,63.276,1.253,0,0,...,63.276,12.848,1.543,3.278,1.253,0.0,0,0,0,0
3465,2022-06-30,1,110.355,4.598,31.964,0,31.964,0.024,0,0,...,9.811,7.714,6.991,0.940,0.024,0.0,0,0,0,0

In [6]:
df.head()

,년월일,호기,총량(kw),평균(kw),최대(kw),최소(kw),최대(시간별 kw),최소(시간별 kw),1,2,...,15,16,17,18,19,20,21,22,23,24
0,2013-01-01,1,0.0,0.0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
1,2013-01-02,1,0.0,0.0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2,2013-01-03,1,0.0,0.0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
3,2013-01-04,1,0.0,0.0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
4,2013-01-05,1,0.0,0.0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0

In [7]:
df.tail()

,년월일,호기,총량(kw),평균(kw),최대(kw),최소(kw),최대(시간별 kw),최소(시간별 kw),1,2,...,15,16,17,18,19,20,21,22,23,24
3461,2022-06-26,1,270.752,11.281,60.215,0,60.215,0.482,0,0,...,34.712,39.292,15.644,6.581,0.482,0.0,0,0,0,0
3462,2022-06-27,1,234.593,9.775,40.256,0,40.256,1.085,0,0,...,14.487,3.809,5.978,6.267,1.085,0.0,0,0,0,0
3463,2022-06-28,1,150.996,6.292,19.815,0,19.815,0.892,0,0,...,12.125,10.992,10.727,7.376,0.892,0.0,0,0,0,0
3464,2022-06-29,1,164.928,6.872,63.276,0,63.276,1.253,0,0,...,63.276,12.848,1.543,3.278,1.253,0.0,0,0,0,0
3465,2022-06-30,1,110.355,4.598,31.964,0,31.964,0.024,0,0,...,9.811,7.714,6.991,0.940,0.024,0.0,0,0,0,0

3) 데이터 확인

In [8]:
# 자료형 확인
type(df)

pandas.core.frame.DataFrame

In [9]:
# 데이터 크기 확인
df.shape

(3466, 32)

In [10]:
#데이터 차원 확인
df.ndim

2

In [11]:
#데이터 갯수 확인
df.size

110912

In [12]:
# 컬럼 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3466 entries, 0 to 3465
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년월일         3466 non-null   object
 1   호기          3466 non-null   int64
 2   총량(kw)      3466 non-null   float64
 3   평균(kw)      3466 non-null   float64
 4   최대(kw)      3466 non-null   float64
 5   최소(kw)      3466 non-null   int64
 6   최대(시간별 kw)  3466 non-null   float64
 7   최소(시간별 kw)  3466 non-null   float64
 8   1           3466 non-null   int64
 9   2           3466 non-null   int64
 10  3           3466 non-null   int64
 11  4           3466 non-null   int64
 12  5           3466 non-null   int64
 13  6           3466 non-null   float64
 14  7           3466 non-null   float64
 15  8           3466 non-null   float64
 16  9           3466 non-null   float64
 17  10          3466 non-null   float64
 18  11          3466 non-null   float64
 19  12          3466 non-null   float64
 20  13          3466 non-null   float64
 21  14          3466 non-null   float64
 22  15          3466 non-null   float64
 23  16          3466 non-null   float64
 24  17          3466 non-null   float64
 25  18          3466 non-null   float64
 26  19          3466 non-null   float64
 27  20          3466 non-null   float64
 28  21          3466 non-null   int64
 29  22          3466 non-null   int64
 30  23          3466 non-null   int64
 31  24          3466 non-null   int64
dtypes: float64(20), int64(11), object(1)
memory usage: 866.6+ KB

In [13]:
# 각 컬럼의 자료형만 확인
df.dtypes

년월일            object
호기              int64
총량(kw)        float64
평균(kw)        float64
최대(kw)        float64
최소(kw)          int64
최대(시간별 kw)    float64
최소(시간별 kw)    float64
1               int64
2               int64
3               int64
4               int64
5               int64
6             float64
7             float64
8             float64
9             float64
10            float64
11            float64
12            float64
13            float64
14            float64
15            float64
16            float64
17            float64
18            float64
19            float64
20            float64
21              int64
22              int64
23              int64
24              int64
dtype: object

In [14]:
#컬럼 확인
df.columns

Index(['년월일', '호기', '총량(kw)', '평균(kw)', '최대(kw)', '최소(kw)', '최대(시간별 kw)',
       '최소(시간별 kw)', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24'],
      dtype='object')

In [15]:
#인덱스 확인
df.index

RangeIndex(start=0, stop=3466, step=1)

## 2. 데이터 준비

1) 시계열로 데이터로 변환

In [16]:
#object형인 '년원일' 컬럼을 datatime으로 변환
pd.to_datetime(df['년월일'])

0      2013-01-01
1      2013-01-02
2      2013-01-03
3      2013-01-04
4      2013-01-05
          ...
3461   2022-06-26
3462   2022-06-27
3463   2022-06-28
3464   2022-06-29
3465   2022-06-30
Name: 년월일, Length: 3466, dtype: datetime64[ns]

In [17]:
#object 인 '년월일' 컬럼을 datetime형으로 변환하고 데이터프레임의 인덱스로 대입
df.index = pd.to_datetime(df['년월일'])

In [18]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24',
               '2022-06-25', '2022-06-26', '2022-06-27', '2022-06-28',
               '2022-06-29', '2022-06-30'],
              dtype='datetime64[ns]', name='년월일', length=3466, freq=None)

In [19]:
#중복 컬럼 삭제
df = df.drop(['년월일'],axis=1)

In [20]:
df

,호기,총량(kw),평균(kw),최대(kw),최소(kw),최대(시간별 kw),최소(시간별 kw),1,2,3,...,15,16,17,18,19,20,21,22,23,24
년월일,,,,,,,,,,,,,,,,,,,,,
2013-01-01,1,0.000,0.000,0.000,0,0.000,0.000,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
2013-01-02,1,0.000,0.000,0.000,0,0.000,0.000,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
2013-01-03,1,0.000,0.000,0.000,0,0.000,0.000,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
2013-01-04,1,0.000,0.000,0.000,0,0.000,0.000,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
2013-01-05,1,0.000,0.000,0.000,0,0.000,0.000,0,0,0,...,0.000,0.000,0.000,0.000,0.000,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-26,1,270.752,11.281,60.215,0,60.215,0.482,0,0,0,...,34.712,39.292,15.644,6.581,0.482,0.0,0,0,0,0
2022-06-27,1,234.593,9.775,40.256,0,40.256,1.085,0,0,0,...,14.487,3.809,5.978,6.267,1.085,0.0,0,0,0,0
2022-06-28,1,150.996,6.292,19.815,0,19.815,0.892,0,0,0,...,12.125,10.992,10.727,7.376,0.892,0.0,0,0,0,0
2022-06-29,1,164.928,6.872,63.276,0,63.276,1.253,0,0,0,...,63.276,12.848,1.543,3.278,1.253,0.0,0,0,0,0
2022-06-30,1,110.355,4.598,31.964,0,31.964,0.024,0,0,0,...,9.811,7.714,6.991,0.940,0.024,0.0,0,0,0,0

2) 데이터 선택

In [21]:
#날짜 정보에서 년도 추출
df.index.year

Int64Index([2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013,
            ...
            2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022],
           dtype='int64', name='년월일', length=3466)

In [22]:
#날짜 정보에서 년도 월 추출
df.index.month

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
           dtype='int64', name='년월일', length=3466)

In [23]:
df.index.year ==2021

array([False, False, False, ..., False, False, False])

In [24]:
df[df.index.year == 2021]

,호기,총량(kw),평균(kw),최대(kw),최소(kw),최대(시간별 kw),최소(시간별 kw),1,2,3,...,15,16,17,18,19,20,21,22,23,24
년월일,,,,,,,,,,,,,,,,,,,,,
2021-01-01,1,523.012,21.792,120.044,0,120.044,3.568,0,0,0,...,27.432,14.391,5.689,0.000,0.0,0.0,0,0,0,0
2021-01-02,1,728.003,30.333,137.207,0,137.207,0.096,0,0,0,...,100.881,63.204,10.703,0.096,0.0,0.0,0,0,0,0
2021-01-03,1,456.868,19.036,111.463,0,111.463,0.145,0,0,0,...,26.323,18.368,10.558,0.145,0.0,0.0,0,0,0,0
2021-01-04,1,348.995,14.541,97.867,0,97.867,0.048,0,0,0,...,18.199,13.041,4.701,0.048,0.0,0.0,0,0,0,0
2021-01-05,1,593.977,24.749,134.965,0,134.965,0.072,0,0,0,...,44.064,45.342,13.186,0.072,0.0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,1,197.132,8.214,55.177,0,55.177,0.096,0,0,0,...,6.508,0.747,7.545,0.096,0.0,0.0,0,0,0,0
2021-12-28,1,135.109,5.630,35.652,0,35.652,3.158,0,0,0,...,11.763,8.316,3.158,0.000,0.0,0.0,0,0,0,0
2021-12-29,1,434.063,18.086,100.881,0,100.881,0.096,0,0,0,...,78.752,15.500,5.110,0.096,0.0,0.0,0,0,0,0
2021-12-30,1,381.273,15.886,81.548,0,81.548,0.048,0,0,0,...,81.548,42.353,11.691,0.048,0.0,0.0,0,0,0,0
2021-12-31,1,806.444,33.602,146.006,0,146.006,1.736,0,0,0,...,124.697,75.474,12.583,0.000,0.0,0.0,0,0,0,0

In [25]:
#2021년도 시간대별 발전량 추출
df2 = df[df.index.year == 2021].iloc[:,7:]
df2

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
년월일,,,,,,,,,,,,,,,,,,,,,
2021-01-01,0,0,0,0,0,0.0,0.0,0.0,3.568,46.620,...,27.432,14.391,5.689,0.000,0.0,0.0,0,0,0,0
2021-01-02,0,0,0,0,0,0.0,0.0,0.0,4.146,54.502,...,100.881,63.204,10.703,0.096,0.0,0.0,0,0,0,0
2021-01-03,0,0,0,0,0,0.0,0.0,0.0,4.026,48.403,...,26.323,18.368,10.558,0.145,0.0,0.0,0,0,0,0
2021-01-04,0,0,0,0,0,0.0,0.0,0.0,4.821,21.092,...,18.199,13.041,4.701,0.048,0.0,0.0,0,0,0,0
2021-01-05,0,0,0,0,0,0.0,0.0,0.0,3.519,32.952,...,44.064,45.342,13.186,0.072,0.0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,0,0,0,0,0,0.0,0.0,0.0,6.605,31.023,...,6.508,0.747,7.545,0.096,0.0,0.0,0,0,0,0
2021-12-28,0,0,0,0,0,0.0,0.0,0.0,4.676,20.224,...,11.763,8.316,3.158,0.000,0.0,0.0,0,0,0,0
2021-12-29,0,0,0,0,0,0.0,0.0,0.0,2.097,19.549,...,78.752,15.500,5.110,0.096,0.0,0.0,0,0,0,0
2021-12-30,0,0,0,0,0,0.0,0.0,0.0,2.194,45.583,...,81.548,42.353,11.691,0.048,0.0,0.0,0,0,0,0
2021-12-31,0,0,0,0,0,0.0,0.0,0.0,1.736,55.539,...,124.697,75.474,12.583,0.000,0.0,0.0,0,0,0,0

3)데이터 변환

In [26]:
#2021년도 & 시간대별 추출 
df2 = df2.shift(periods=1, axis=1,fill_value=0)
df2

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
년월일,,,,,,,,,,,,,,,,,,,,,
2021-01-01,0,0,0,0,0,0,0.0,0.0,0.0,3.568,...,111.366,27.432,14.391,5.689,0.000,0.0,0.0,0,0,0
2021-01-02,0,0,0,0,0,0,0.0,0.0,0.0,4.146,...,121.900,100.881,63.204,10.703,0.096,0.0,0.0,0,0,0
2021-01-03,0,0,0,0,0,0,0.0,0.0,0.0,4.026,...,59.950,26.323,18.368,10.558,0.145,0.0,0.0,0,0,0
2021-01-04,0,0,0,0,0,0,0.0,0.0,0.0,4.821,...,52.935,18.199,13.041,4.701,0.048,0.0,0.0,0,0,0
2021-01-05,0,0,0,0,0,0,0.0,0.0,0.0,3.519,...,88.828,44.064,45.342,13.186,0.072,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,0,0,0,0,0,0,0.0,0.0,0.0,6.605,...,16.078,6.508,0.747,7.545,0.096,0.0,0.0,0,0,0
2021-12-28,0,0,0,0,0,0,0.0,0.0,0.0,4.676,...,12.221,11.763,8.316,3.158,0.000,0.0,0.0,0,0,0
2021-12-29,0,0,0,0,0,0,0.0,0.0,0.0,2.097,...,100.881,78.752,15.500,5.110,0.096,0.0,0.0,0,0,0
2021-12-30,0,0,0,0,0,0,0.0,0.0,0.0,2.194,...,29.336,81.548,42.353,11.691,0.048,0.0,0.0,0,0,0
2021-12-31,0,0,0,0,0,0,0.0,0.0,0.0,1.736,...,142.824,124.697,75.474,12.583,0.000,0.0,0.0,0,0,0

In [27]:
#컬럼명 변경
df2.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
      dtype='object')

In [28]:
#파이썬, range 함수
list(range(0,24))
list(range(0,24))
list(range(1,24,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [29]:
#시간차 조정 : 1 ~ 24 -> 0 ~ 23 
df2.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
      dtype='object')

In [30]:
df2.columns = list(range(24))
df2

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
년월일,,,,,,,,,,,,,,,,,,,,,
2021-01-01,0,0,0,0,0,0,0.0,0.0,0.0,3.568,...,111.366,27.432,14.391,5.689,0.000,0.0,0.0,0,0,0
2021-01-02,0,0,0,0,0,0,0.0,0.0,0.0,4.146,...,121.900,100.881,63.204,10.703,0.096,0.0,0.0,0,0,0
2021-01-03,0,0,0,0,0,0,0.0,0.0,0.0,4.026,...,59.950,26.323,18.368,10.558,0.145,0.0,0.0,0,0,0
2021-01-04,0,0,0,0,0,0,0.0,0.0,0.0,4.821,...,52.935,18.199,13.041,4.701,0.048,0.0,0.0,0,0,0
2021-01-05,0,0,0,0,0,0,0.0,0.0,0.0,3.519,...,88.828,44.064,45.342,13.186,0.072,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,0,0,0,0,0,0,0.0,0.0,0.0,6.605,...,16.078,6.508,0.747,7.545,0.096,0.0,0.0,0,0,0
2021-12-28,0,0,0,0,0,0,0.0,0.0,0.0,4.676,...,12.221,11.763,8.316,3.158,0.000,0.0,0.0,0,0,0
2021-12-29,0,0,0,0,0,0,0.0,0.0,0.0,2.097,...,100.881,78.752,15.500,5.110,0.096,0.0,0.0,0,0,0
2021-12-30,0,0,0,0,0,0,0.0,0.0,0.0,2.194,...,29.336,81.548,42.353,11.691,0.048,0.0,0.0,0,0,0
2021-12-31,0,0,0,0,0,0,0.0,0.0,0.0,1.736,...,142.824,124.697,75.474,12.583,0.000,0.0,0.0,0,0,0

4)데이터 정제

*기술통계로 결측치,이상치 확인

In [31]:
df2.describe()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
count,365.0,365.0,365.0,365.0,365.0,365.0,365.000000,365.000000,365.000000,365.000000,...,365.000000,365.000000,365.000000,365.00000,365.000000,365.000000,365.000000,365.0,365.0,365.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.065384,2.059405,10.801619,30.132112,...,97.221953,84.692279,63.506112,37.54220,15.628893,3.915274,0.303063,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.296219,3.623660,11.840061,23.283082,...,46.720503,42.897786,36.427601,27.71306,16.190828,6.574831,0.802566,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.723000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.048000,7.015000,...,63.011000,48.235000,30.710000,10.70300,0.506000,0.000000,0.000000,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,6.340000,26.058000,...,106.304000,93.649000,67.061000,33.02400,10.944000,0.145000,0.000000,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,2.555000,19.525000,50.766000,...,135.014000,119.972000,94.951000,63.78300,26.540000,4.797000,0.000000,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,3.206000,16.609000,47.295000,83.790000,...,183.923000,163.916000,132.097000,94.10700,57.419000,35.531000,6.050000,0.0,0.0,0.0

In [32]:
#결측치 확인
df2.isnull()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
년월일,,,,,,,,,,,,,,,,,,,,,
2021-01-01,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-01-02,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-01-03,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-01-04,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-01-05,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-12-28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-12-29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-12-30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-12-31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
# 컬럼별로 결측치 확인
df2.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
dtype: int64

In [34]:
# 전체 결측치 확인
df2.isnull().sum().sum()

0

*csv 파일로 저장

In [38]:
df2.to_csv('한국남부발전(주)_신인천소내 태양광발전실적_20220630_cleansing.csv',encoding='cp949')

# 3.데이터 분석 및 시각화

In [ ]:
import matplotlib.pyplot as plt

#폰트 설정
plt.rc('font',family='Malgun Gothic')

#'-'(마이너스)기호 깨짐 예방
plt.rcParams['axes.unicode_minus']=False

In [ ]:
# 주피터에서 창 내부에 출력
%matplotlib inline

#별도 창에 출력
# %matplotlib tk

#### 1) 2021년 일일 발전량 패턴

In [ ]:
df2.plot(figsize=(15,4),legend=None)

In [ ]:
#전치
#df2.transpose()
df2.transpose().index

In [ ]:
df2.transpose().plot(figsize=(15,4),legend=None, fontsize=13)
plt.legend([])
plt.xlabel('Hour',fontsize=13)
plt.ylabel('Power [KW]',fontsize=13)
plt.title('2021년 일일 발전량 패턴',fontsize=13)

#### 2) 연간 발전량 프로파일

In [ ]:
#연간 시간대별 평균
df2.resample('Y').mean()

In [ ]:
df2.resample('Y').mean().transpose().plot(figsize=(15,4),fontsize=13, xticks = df2.columns, style = '.-')
plt.legend([])
plt.grid()
plt.xlim([0,23])
plt.xlabel('Hour',fontsize=13)
plt.ylabel('Power [KW]',fontsize=13)
plt.title('2021년 일일 발전량 패턴',fontsize=13)

#### 3)월별 일일 발전량 패턴

In [ ]:
#1월
df2.loc['2021-01'].head()

In [ ]:
df2.loc['2021-01'].transpose().plot(figsize=(15,4),fontsize=13, xticks = df2.columns, style = '.-')
plt.legend([])
plt.grid()
plt.xlim([0,23])
plt.xlabel('Hour',fontsize=13)
plt.ylabel('Power [KW]',fontsize=13)
plt.title('2021년 1월 발전량 패턴',fontsize=13)

In [ ]:
yearmon_list =['2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12']
for i in range(12):
    print(i,yearmon_list[i])

In [ ]:
#2021년 월별 일일 발전량 패턴
yearmon_list =['2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07','2021-08','2021-09','2021-10','2021-11','2021-12']
plt.subplots(12,1)
for i in range(12):
    ax = plt.subplot(12,1,i+1)
    df2.loc[yearmon_list[i]].transpose().plot(figsize=(15,30),fontsize=13, xticks = df2.columns, style = '.-',ax=ax)
    plt.grid()
    plt.legend([])
    plt.xlim([0,23])
    plt.xlabel('Hour',fontsize=13)
    plt.ylabel('Power [Kw]',fontsize=13)
    
    
#이미지 저장
plt.savefig('./Daily_Profile_by_Month.png')

#### 4) 월별 발전량 프로파일

In [ ]:
df2.resample('M').mean()

In [ ]:
#2021년 월별 발전량 프로파일
df2.resample('M').mean().transpose().plot(figsize=(15,4),fontsize=13, xticks = df2.columns, style = '.-')
#plt.legend([])
plt.grid()
plt.xlabel('Hour',fontsize=13)
plt.ylabel('Power [KW]',fontsize=13)
plt.title('2021년 월별 발전량 패턴',fontsize=13)

#### 5) 계절별 발전량 프로파일

In [ ]:
#봄철 인덴스
df2.index.month == 3 |(df2.index.month == 4)|(df2.index.month ==5 )

In [ ]:
#봄철 인덴스
spring_index =(df2.index.month == 3) |(df2.index.month == 4)|(df2.index.month == 5 )
#여름철 인덴스
summer_index =(df2.index.month == 6) |(df2.index.month == 7)|(df2.index.month == 8 )
#가을철 인덴스
fall_index =(df2.index.month == 9) |(df2.index.month == 10)
#겨울철 인덴스
winter_index =(df2.index.month == 11) |(df2.index.month == 12)|(df2.index.month == 1 )|(df2.index.month == 2)

In [ ]:
df2[spring_index].mean().plot(figsize=(15,4),fontsize=13, xticks = df2.columns, style = '.-')
df2[summer_index].mean().plot(figsize=(15,4),fontsize=13, xticks = df2.columns, style = '.-')
df2[fall_index].mean().plot(figsize=(15,4),fontsize=13, xticks = df2.columns, style = '.-')
df2[winter_index].mean().plot(figsize=(15,4),fontsize=13, xticks = df2.columns, style = '.-')
plt.grid()
plt.legend(['봄','여름','가을','겨울'])
plt.xlabel('Hour',fontsize=13)
plt.ylabel('Power [Kw]',fontsize=13)
plt.title('2021년 계절별 발전량 패턴',fontsize=13)